#container {
  background-color: #ffffff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

h1 {
  text-align: center;
  color: #2f4858;
}

svg {
  color: #212121;
}

.bar {
  fill: #ffc75f;
}

.bar:hover {
  fill: #fee6bb;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 2px;
  font-size: 12px;
  background: #4f4537;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}

.overlay {
  position: absolute;
  background: #fff;
  pointer-events: none;
}
